 /* .swiperSlide  {
    height: 200px !important;
    align-items: center;
  }  
.swiper-slide img {
    height: 200px !important;
    cursor: pointer;
  }

  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 8px);
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
    margin-bottom: -50px;
  } */